

.cardDiv
{
    display: flex;
    justify-content: center;
}
.fluid
{
    font-size: 3em;
}
.aboutsec h1{
    text-align: center;
    font-size: 3em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bolder;
    text-shadow: 3px 3px 4px red;
}